extends layout
block layout-content
    div#quix-dashboard-content
        div#quix-upload-video
            div#upload-custom-video-outer(style="display: table;")
                span.upload-custom-video-area Drop or Choose your Video
                input#upload-custom-video(type="file",accept=".mp4,.webm,.avi,.mov")